
@import "tailwindcss";


#root {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;
}

.main-container {
  display: grid;
  grid-template-columns: 7fr 5fr;
  height: 100vh;
}

.image-container {
  justify-content: center;
  align-content: center;
}

.home-container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  height: 100vh;
  box-sizing: border-box;
}

.sidebar-item {
  border: 2px solid red;
}

.mid-item {
  border: 2px solid blue;
}   

.right-item {
  border: 2px solid green;
}